<p>Witch Mountain has been cursed with endless winter! Help the Witch collect the ancient flowers needed to break the curse.</p>
<p>In this platformer you will tap into the ancient stones to unleash the power of nature. Unleashing the power of nature creates local bubbles of green where you can find ancient flowers!</p>
<p><img class="custom-centred" src="https://img.itch.zone/aW1hZ2UvMTQxOTM2Mi84MjY2Nzk4LmdpZg==/250x600/0z%2FsAX.gif"></p>
<p>Witch Mountain was written for the 2022 Winter Open Game Art Jam and it's source can be found on <a href="https://gitlab.com/alexjgriffith/witch-mountain">GitLab</a></p>
<p> The theme for the Jam was <em>Old things being uncovered by thawing ice.</em></p>
<p>The source is available under GPL3 and the assets developed for the game are available under CC-BY4. The assets include all sprites beside the tiles.</p>
<p>
</p>
<hr>
<h2 class="custom-centred">Dashing</h2>
<p><img class="custom-centred" src="https://img.itch.zone/aW1hZ2UvMTQxOTM2Mi84MjY2ODA3LmdpZg==/250x600/WIGwJZ.gif"></p>
<div class="custom-caption"> Press <div class="custom-code">V</div> to Dash.</div>
<hr>
<h2 class="custom-centred">Unleashing the Power of Nature</h2>
<p><img class="custom-centred" src="https://img.itch.zone/aW1hZ2UvMTQxOTM2Mi84MjY2ODAyLmdpZg==/250x600/2vRii2.gif"></p>
<div class="custom-caption">Press <div class="custom-code">s</div> or <div class="custom-code">down</div> to toggle the stone</div>
<hr>
<h2 class="custom-centred">Interacting</h2>
<p><img class="custom-centred" src="https://img.itch.zone/aW1hZ2UvMTQxOTM2Mi84MjY2ODA2LmdpZg==/250x600/Lu%2Bjd2.gif"></p>
<div class="custom-caption">Press <div class="custom-code">s</div> or <div class="custom-code">down</div> to interact</div>
<hr>
<h2 class="custom-centred">Wall Grabbing</h2>
<p><img class="custom-centred" src="https://img.itch.zone/aW1hZ2UvMTQxOTM2Mi84MjY2ODA5LmdpZg==/250x600/Pv1%2BqI.gif"></p>
<div class="custom-caption">You can grab onto the wall by holding down <div class="custom-code">a</div> <div class="custom-code">d</div> <div class="custom-code">left</div> or <div class="custom-code">right</div> as you jump into a wall.</div>
<hr>
<h2 class="custom-centred">Game Controls</h2>
<ul>
    <li> <div class="custom-code">A</div> <div class="custom-code">D</div> or <div class="custom-code">Left</div> <div class="custom-code">Right</div> to move</li>
    <li> <div class="custom-code">W</div> or <div class="custom-code">Up</div> to Jump</li>
    <li> <div class="custom-code">S</div> or <div class="custom-code">Down</div> to Interact </li>
    <li> <div class="custom-code">V</div> or <div class="custom-code">M</div> to Dash </li>
    <li> <div class="custom-code">Esc</div> to open the menu</li>
    <li> <div class="custom-code">Enter</div> to start the game</li>
</ul>
<hr>

<h2 class="custom-centred">Game Control Details</h2>
<p>You can double jump, and dash while you're in the air! Note that jump and dash will reset when you touch the ground.</p>

<p>Concerning the wall grab. Press the direction you want to grab once the jump is complete. THe wall grab will reset once you move away from the wall. Note that if you jump, grab the wall and try to double jump, you will be unable to grab the wall. This will be reworked post Jam.</p>

<hr>
<p><img class="custom-centred" src="https://img.itch.zone/aW1hZ2UvMTQxOTM2Mi84MjY2Nzk2LmdpZg==/original/UjJJYs.gif"></p>
<hr>
<h2 class="custom-centred">Credits</h2>
<div>
    <strong>Title:</strong> Seasonal Platformer Tiles <br>
    <strong>Author:</strong> GrafxKid<br>
    <strong>Link:</strong> <a href="https://opengameart.org/content/seasonal-platformer-tiles">https://opengameart.org/content/seasonal-platformer-tiles</a><br>
    <strong>Licence:</strong> <a href="http://creativecommons.org/publicdomain/zero/1.0/legalcode">CC0</a><br>
    <strong>Modified:</strong> Yes<br>
</div>
<hr>
<div>
    <strong>Title:</strong> Snowy Cottage<br>
    <strong>Author:</strong> TAD<br>
    <strong>Link:</strong> <a href="https://opengameart.org/content/snowy-cottage-8bit-ver2">https://opengameart.org/content/snowy-cottage-8bit-ver2</a><br>
    <strong>Licence:</strong> <a href="https://creativecommons.org/publicdomain/by/3.0/legalcode">CCBY4.0</a><br>
    <strong>Modified:</strong> No<br>
</div>
<hr>
<div>
    <strong>Title:</strong> 8 Bit Sound Effects Library<br>
    <strong>Author:</strong> Little Robot Sound Factory<br>
    <strong>Link:</strong> <a href="https://opengameart.org/content/8-bit-sound-effects-library">https://opengameart.org/content/8-bit-sound-effects-library</a><br>
    <strong>Licence:</strong> <a href="https://creativecommons.org/publicdomain/by/3.0/legalcode">CCBY3.0</a><br>
    <strong>Modified:</strong> No<br>
</div>
<hr>
<div>
    <strong>Title:</strong> Variety of Cursors<br>
    <strong>Author:</strong> Kemono<br>
    <strong>Link:</strong> <a href="https://opengameart.org/content/variety-of-cursors">https://opengameart.org/content/variety-of-cursors</a><br>
    <strong>Licence:</strong> <a href="https://creativecommons.org/publicdomain/by/3.0/legalcode">CCBY3.0</a><br>
    <strong>Modified:</strong> No<br>
</div>
<hr>
<div>
    <strong>Title:</strong> Jump Landing Sound<br>
    <strong>Author:</strong> MentalSanityOff<br>
    <strong>Link:</strong> <a href="https://opengameart.org/content/jump-landing-sound">https://opengameart.org/content/jump-landing-sound</a><br>
    <strong>Licence:</strong> <a href="http://creativecommons.org/publicdomain/zero/1.0/legalcode">CC0</a><br>
    <strong>Modified:</strong> Yes<br>
</div>
<hr>
<div>
    <strong>Title:</strong> Funny Comic Cartoon Bounce Sound<br>
    <strong>Author:</strong> Blender Foundation<br>
    <strong>Link:</strong> <a href="https://opengameart.org/content/funny-comic-cartoon-bounce-sound">https://opengameart.org/content/funny-comic-cartoon-bounce-sound</a><br>
    <strong>Licence:</strong> <a href="https://creativecommons.org/publicdomain/by/3.0/legalcode">CCBY3.0</a><br>
    <strong>Modified:</strong> No<br>
</div>
