.right_col.column {
visibility: hidden;
height: 0px;
}

div.custom-centred {
    display: flex;
    justify-content: center
}

img.custom-centred {
    width: 100%;
}

div.custom-caption {
	text-align: center;
	padding-bottom: 20px;
	padding-top: 10px;
	width: 100%
}

.custom-hundred {
	width: 100%
}

h2.custom-centred {
	width: 100%;
	text-align: center
}

table.custom-centerd {
	width: 450px;
	margin: auto
}

table.custom-centerd-wider {
	width: 550px;
	margin: auto
}

@media only screen and (max-width:550px) {
	table.custom-centerd-wider {
		width: 450px
	}
	pre.custom-nopadding {
		height: 30px
	}
}

@media only screen and (max-width:450px) {
	table.custom-centerd,
	table.custom-centerd-wider {
		width: 350px
	}
	pre.custom-nopadding {
		height: 40px;
		font-size: 10px
	}
}

@media only screen and (max-width:400px) {
	table.custom-centerd,
	table.custom-centerd-wider {
		width: 300px
	}
	pre.custom-nopadding {
		height: 35px;
		font-size: 10px
	}
}

div.custom-p {
	margin-bottom: 16px;
	margin-top: 16px
}

div.custom-code {
	font-family: monospace, monospace;
	font-weight: 700;
	display: inline-block;
	padding: 0 .4em;
	margin: 0;
	font-size: 85%;
	background-color: #ddfdff;
	color: #101;
	border-radius: 6px
}

pre.custom-right {
	text-align: right
}

pre.custom-nopadding {
	text-align: center;
	margin: 0;
	min-height: 100%;
	overflow: hidden
}

.user_formatted table tr td {
	border: none;
	margin: 0
}
